<h1 class="rrwel">Welcome to Roulette!</h1>

<%= form_for(@roulette) do |f| %>
  <% if @roulette.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roulette.errors.count, "error") %> prohibited this dashboard from being saved:</h2>

      <ul>
      <% @roulette.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
