<%= form_for(@russian_roulette) do |f| %>
  <% if @russian_roulette.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@russian_roulette.errors.count, "error") %> prohibited this russian_roulette from being saved:</h2>

      <ul>
      <% @russian_roulette.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player %><br>
    <%= f.text_field :player %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
